.relative-container {
  position: relative; /* Required for absolute children to position against it */
  display: block;
  overflow: clip;
}

.pv-protvista .container {
	 width: initial;
	 padding: initial;
	 margin-right: initial;
	 margin-left: initial;
	 max-width: initial;
}
/* ========================================================================== TOP CONTAINERS ========================================================================== */
 .pv-protvista.elements-container {
	 width: 100%;
	/* min-height: 480px;
	 */
	 height: auto;
	 overflow-y: clip;
}
 .pv-protvista .always-on-top {
	 position: relative;
	 top: 0;
}
 .pv-protvista .scrollable {
	 overflow-y: auto;
}
 .pv-protvista .scrollable > .pv-track-row:last-child {
	 margin-bottom: 20px;
}
/* ========================================================================== THEME VARIABLES & COLORS FOR ANGULAR MATERIALS ========================================================================== */
 .pv-protvista {
	 --mat-checkbox-label-text-line-height: 18px;
	 --mat-checkbox-label-text-size: 14px;
	 --mdc-checkbox-state-layer-size: 26px;
	 --mdc-checkbox-selected-focus-icon-color: #0275ff;
	 --mdc-checkbox-selected-hover-icon-color: #0275ff;
	 --mdc-checkbox-selected-icon-color: #0275ff;
	 --mdc-checkbox-selected-pressed-icon-color: #0275ff;
	 --mdc-checkbox-selected-focus-state-layer-color: #0275ff;
	 --mdc-checkbox-selected-hover-state-layer-color: #0275ff;
	 --mdc-checkbox-selected-pressed-state-layer-color: #0275ff;
}
 .pv-protvista .mat-mdc-radio-button.mat-accent {
	 --mdc-radio-selected-focus-icon-color: #0275ff;
	 --mdc-radio-selected-hover-icon-color: #0275ff;
	 --mdc-radio-selected-icon-color: #0275ff;
	 --mdc-radio-selected-pressed-icon-color: #0275ff;
	 --mat-radio-checked-ripple-color: #0275ff;
}
 .pv-protvista .pv-track-label-col .mdc-label {
	 font-size: 12px;
}
/* ========================================================================== LAYOUT STRUCTURE (Track Rows, Columns, Containers) ========================================================================== */
 .pv-protvista .pv-track-row {
	 display: flex;
	 align-content: center;
	 flex-wrap: wrap;
	 align-items: flex-start;
}
 .pv-protvista .pv-track-row > .collapsible {
	 width: 100%;
}
 .pv-protvista .pv-track-row.btns {
	 display: flex;
	 margin-top: 6px;
}
 .pv-protvista .pv-track-row.btns img {
	 height: 34px;
	 margin-left: 8px;
	 margin-right: 26px;
}
 .pv-protvista .pv-track-row.btns p {
	 font-size: 14px;
	 line-height: 30px;
}
 .pv-protvista .pv-track-row.no-data {
	 min-height: 40px;
}
 .pv-protvista .pv-track-col {
	 display: flex;
	 flex-direction: column;
	 width: 80%;
	 background: #fff;
	 z-index: 6;
}
 .pv-protvista .pv-track-col.small {
	 width: 20%;
}
 .pv-protvista .pv-track-col.controls {
	 flex-direction: row;
	 justify-content: flex-end;
	 gap: 6px;
	 padding-top: 5px;
	 padding-right: 12px;
	 z-index: 6;
}
 .pv-protvista .pv-track-container {
	 width: 80%;
}
 .pv-protvista .pv-track-container.btns {
	 width: 80%;
	 display: flex;
	 gap: 8px;
	 z-index: 6;
	 padding-bottom: 4px;
	 background: #fff;
}
 .pv-protvista .pv-track-container.no-data {
	 display: flex;
	 align-items: center;
	 padding-left: 4px;
	 font-size: 14px;
	 min-height: 40px;
	 line-height: 18px;
}
 .pv-protvista .pv-track-container.custom-data {
	 margin-top: 3px;
	 margin-bottom: 3px;
}
/* .pv-protvista .pv-track-label-col {
	 width: 20%;
	 margin-top: 2px;
	 margin-bottom: 2px;
	 display: flex;
	 flex-wrap: nowrap;
	 align-items: center;
	 word-break: break-word;
	 font-size: 14px;
	 line-height: 18px;
	 justify-content: flex-start;
	 cursor: pointer;
	 padding-right: 12px;
}
 */
 .pv-protvista nightingale-navigation .container .brush .handle {
	 fill: #a9a9a9;
	 stroke: #000;
	 stroke-width: 1px;
	 height: 18px;
	 y: 0;
}
 .pv-protvista .pv-track-label-col {
	 width: 20%;
	 padding-top: 2px;
	 padding-bottom: 2px;
	 display: flex;
	 flex-wrap: wrap;
	 align-items: flex-start;
	 word-break: break-word;
	 font-size: 14px;
	 line-height: 18px;
	 justify-content: flex-start;
	 cursor: pointer;
	 padding-right: 12px;
	 z-index: 8;
	 background: #fff;
}
 .pv-protvista .pv-track-label-col > .track-title {
	 flex-basis: 100%;
	 display: flex;
	 flex-wrap: nowrap;
	 align-items: center;
}
 .pv-protvista .pv-track-label-col > .track-btns {
	 margin-top: 4px;
	 flex-basis: 100%;
	 display: flex;
	 flex-wrap: nowrap;
	 align-items: center;
}
 .pv-protvista .pv-track-label-col > .track-btns button.in-3d-btn {
	 display: flex;
	 padding: 0 4px;
	 justify-content: center;
	 align-items: center;
	 gap: 10px;
	 background: #f3f3f3;
	 color: #3b6fb6;
	 cursor: pointer;
	/* Small body text */
	 font-family: 'IBM Plex Sans';
	 font-size: 14px;
	 font-style: normal;
	 font-weight: 400;
	 line-height: 22.4px;
	/* 160% */
}
 .pv-protvista .pv-track-label-col > .track-btns button.in-3d-btn.active {
	 color: #193f90;
	 font-weight: 500;
	 background: #b9d4f1;
}
 .pv-protvista .pv-track-label-col.label-only {
	 cursor: default;
}
 .pv-protvista .pv-track-label-col > p {
	 line-break: anywhere;
}
 .pv-protvista .pv-track-label-col.nested {
	 padding-left: 12px;
}
 .pv-protvista .pv-track-label-col.subtrack {
	 padding-left: 12px;
}
 .pv-protvista .pv-track-label-col.nested.subtrack {
	 padding-left: 16px;
}
 .pv-protvista .pv-track-label-col.variation {
	 flex-direction: column;
	 align-items: flex-start;
	 overflow-x: auto;
	 padding-left: 0;
}
 .pv-protvista nightingale-scrollbox {
	 width: 100%;
}
 .pv-protvista .expand-icon {
	 display: flex;
	 min-width: 14px;
}
 .pv-protvista .action-icon {
	 width: 24px;
	 height: 24px;
	 padding: 3px;
	 cursor: pointer;
}
 .pv-protvista .action-icon:hover {
	 background-color: #d1e3f6;
}
 .pv-protvista .yscale-wrapper {
	 display: flex;
}
/* ========================================================================== TRACK STYLING ========================================================================== */
/* Border between expanded Tracks rows */
 .pv-protvista .non-header-track {
	 border-bottom: 1px solid #c6c6c6;
}
/* Hide border on collapsed Tracks rows */
 .pv-protvista .non-header-track.track {
	 border: none;
}
/* Track header column minimum height */
 .pv-protvista .non-header-track > .pv-track-label-col {
	 min-height: 40px;
}
/* Track header column on expanded color */
 .pv-protvista .non-header-track.expanded > .pv-track-label-col {
	 background-color: #e1e1e1;
}
/** Track header column on hover color */
 .pv-protvista .pv-track-label-col.hoverable:hover, .pv-protvista .non-header-track > .pv-track-label-col.hoverable:hover, .pv-protvista .non-header-track.expanded > .pv-track-label-col.hoverable:hover {
	 background-color: #efefef;
}
/* Custom Tracks separation border */
 .pv-protvista .always-on-top .custom-row {
	/* border-bottom: 1px solid #000;
	 */
	 z-index: 3;
	 position: relative;
	 background: #fff;
}
 .pv-protvista .always-on-top img.custom-row {
	 z-index: 3;
	 position: relative;
	 background: transparent;
}
/* Custom Tracks maximum row height */
 .pv-protvista .always-on-top .non-header-track > .pv-track-label-col {
	 max-height: 40px;
	 text-overflow: ellipsis;
}
/* ========================================================================== TOOLTIP STYLING (Hover + Pinned) ========================================================================== */
 .pv-protvista .manual-tooltip {
	 background-color: #fff;
	 color: #1a1c1a;
	 font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 line-height: 27px;
	 padding: 10px;
	 box-shadow: 0 5px 5px -3px #000, 0 8px 10px 1px #000, 0 3px 14px 2px #000;
	 max-width: 40%;
	 overflow: scroll;
	 max-height: unset;
	 border-radius: 0;
}
 .pv-protvista .manual-tooltip a {
	 font-size: 16px;
}
/* For Variation tooltips (tables received as tooltipContent) styling */
 .pv-protvista .manual-tooltip td {
	 font-size: 14px;
	 padding: 2px 4px;
	 line-height: 20px;
}
/* For Variation tooltips (tables received as tooltipContent) styling */
 .pv-protvista .manual-tooltip td a {
	 font-size: 14px;
}
/* Pinned tooltips share normal tooltip stylings with extra ajustments for close button */
 .pv-protvista .pinned-tooltip .tooltip-header {
	 float: right;
	 margin-top: -6px;
	 margin-right: -6px;
	 max-height: 20px;
}
 .pv-protvista .pinned-tooltip .close-btn {
	 border: none;
	 background: transparent;
	 cursor: pointer;
	 font-size: 14px;
	 color: #888;
}
 .pv-protvista .pinned-tooltip .close-btn:hover {
	 color: #000;
}
/* ========================================================================== VISUAL ELEMENTS (Icons, Legend, Buttons, Sequence Text) ========================================================================== */
 .pv-protvista .navigation-zoom-hint {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 4px;
	 z-index: 2;
	 background: #fff;
	 font-size: 13px;
	 color: #333;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 pointer-events: none;
	 height: 30px;
	/* @media (width <= 1140px) {
		 font-size: 0.65rem;
	}
	 */
}
 .pv-protvista .navigation-zoom-hint img {
	 scale: 0.9;
	 margin: 2px;
}
 .pv-protvista .navigation-zoom-hint kbd {
	 line-height: 12px !important;
	 margin: 4px !important;
}
 .pv-protvista .icon {
	 height: 15px;
	 margin-bottom: 2px;
	 margin-left: 2px;
     text-decoration: none;
     font-style: normal;
     text-rendering: optimizeLegibility !important;
     background-size: contain;
     font-weight: 400;
     display: inline-block;
     vertical-align: middle;
     max-width: 100%;
     border-style: none;
}
/* .pv-protvista .pv-link-btn {
	 font-size: 14px;
	 line-height: 18px;
}
 */
 .pv-protvista .pv-link-btn {
	 line-height: 18px;
	 padding: 6px 12px;
	 font-size: 14px;
	 font-family: 'IBM Plex Sans';
	 font-weight: 700;
	 color: #0a5032;
	 border: 1px solid var(--Purple-800, #0a5032);
	 background: #fff;
	 box-shadow: 2px 2px 0 0 #0a5032;
	 cursor: pointer;
}
 .pv-protvista .pv-sel-menu-item {
	 border-color: #0a5032;
	 border-width: 1px;
	 border-style: solid;
	 height: 18px;
	 padding-top: 8px;
	 border-radius: 8px;
	 padding-left: 4px;
	 padding-right: 4px;
	 font-size: 12px;
	 color: #0a5032;
}
 .pv-protvista .pv-sel-menu-item.sel {
	 border-style: dashed;
}
/* Overrides Nightingale-sequence default font size (too small) */
 .pv-protvista .sequence, .pv-protvista .sequence > .base {
	 font-size: 12px;
}
/* Legend styles below migrated from previous protvista */
 .pv-protvista .legend {
	 margin-top: 8px;
}
 .pv-protvista .protvista-sc-legend {
	 display: flex;
	 flex-direction: column;
	 margin-top: 6px;
}
 .pv-protvista .protvista-sc-legend .protvista-sc-legend {
	 margin-top: 2px;
	 flex-direction: row;
}
 .pv-protvista .pv-legend-color {
	 display: inline-block;
	 min-height: 1rem;
	 min-width: 1rem;
	 max-width: 1rem;
	 max-height: 1rem;
}
 .pv-protvista .pv-legend-text {
	 display: inline-block;
	 font-size: 90%;
	 text-align: left;
	 color: #333;
	 margin-left: 2px;
}
 .pv-protvista .pv-radio-group > label {
	 font-size: 12px;
	 line-height: 18px;
	 display: flex;
}
 .pv-protvista .pv-checkbox-group > label {
	 font-size: 12px;
	 line-height: 18px;
	 display: flex;
}
 .pv-protvista .skeleton-loader {
	 position: relative;
	 overflow: hidden;
	 width: 100%;
	 height: 40px;
	 margin-top: 8px;
	 background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
	 background-size: 200% 100%;
	 animation: skeleton-loading 8.2s infinite linear;
	 margin-bottom: 8px;
}
 @keyframes skeleton-loading {
	 0% {
		 background-position: -200% 0;
	}
	 100% {
		 background-position: 200% 0;
	}
}
 .pv-protvista .custom-btn-control {
	 display: flex;
}
 .pv-protvista #pv-add-custom-btn {
	/* width: 100%;
	 */
	 flex: 1;
	 background: #f3f3f3;
	 color: #3b6fb6;
	 text-align: center;
	 cursor: pointer;
	/* Small body text */
	 font-family: 'IBM Plex Sans';
	 font-size: 14px;
	 font-style: normal;
	 font-weight: 400;
	 line-height: 22.4px;
	/* 160% */
}
 .pv-protvista .heatmap-pinned-tooltip-close {
	 top: 5px;
	 right: 1px;
	 background-color: #000 0;
	 border: solid #000 0 1px;
}
 .pv-protvista .heatmap-pinned-tooltip-close path {
	 fill: #888;
	 stroke: #888;
	 stroke-width: 5px;
	 scale: 0.85;
}
 .pv-protvista .heatmap-tooltip-content {
	 font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 line-height: 27px;
	 padding: 10px;
}
 .pv-protvista .heatmap-pinned-tooltip-content {
	 font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
	 font-size: 16px;
	 line-height: 27px;
	 padding: 14px;
}
 .pv-protvista g.highlighted rect {
     fill: rgb(255 0 255 / 25%);
}
/** .pv-protvista .pv-track-label-col.subtrack.variation > p {
	 white-space: pre;
}
 */
/** .pv-protvista g.highlighted > rect:not(:last-child) {
	 fill: #ffffff66;
}
 */
/* ========================================================================== RESPONSIVENESS ========================================================================== */
 @media screen and (width <= 1240px) {
	 .pv-protvista .pv-track-label-col {
		 font-size: 0.8rem;
		 word-break: normal;
	}
	 .pv-protvista .navigation-zoom-hint {
		 font-size: 0.69rem;
	}
	 .pv-protvista .pv-link-btn {
		 padding: 3px 8px;
		 font-size: 12px;
	}
	 .pv-protvista .pv-track-container.no-data {
		 font-size: 12px;
	}
}