protvista-pdb-variation {
  display: flex;
  width: 100%;
}

protvista-pdb-variation svg {
  background-color: #fff;
}

protvista-pdb-variation circle {
  opacity: 0.6;
}
protvista-pdb-variation circle:hover {
  opacity: 0.9;
}
protvista-pdb-variation .tick line,
protvista-pdb-variation .axis path {
  opacity: 0.1;
}

protvista-pdb-variation .protvista-highlight {
  fill: #ffe999;
}

protvista-pdb-variation .variation-y-right line,
protvista-pdb-variation .axis path {
  fill: none;
  stroke: none;
}

.pvVariantPlotSection {
  padding-left: 9px !important;
}
